# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
venv/
.env/

# Node.js dependencies
node_modules/

# Python-related IDE files
.idea/
.vscode/

# Streamlit-related
*.db
*.log


# Heroku-related
*.env
*.swp

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
